 @font-face {
    font-family:"HelveticaNeueLT Pro 45 Lt";
    src: url('HELVETICANEUELTPRO-LT.OTF');

  } 
body{overflow: hidden; overflow-y: auto;  
     }
#page403{
    display: none;
    position: fixed; 
    z-index: 99;
    background: #fff;
    width: 100%; 
    height: 100%;
    text-align: center;

}
#page403 div{font-size: 0.3rem; margin-top: 1rem}
#content{display: none}
.warp{
    background: #0e1b24;
    width: 100%;
    position: relative;
   
}
.warp .bg{
    width: 100%;

    top: 0;
}
.warp .bg img{
    width: 100%;
    display: block
}

.warp .content{
    position: absolute;
    z-index: 2;
    width: 100%;
    top:0;
}
.content .con-bg1{
    background: url(http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/info-bg/1.jpg) no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.content .con-bg2{
    background: url(http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/info-bg/2.jpg) no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.content .con-bg3{
    background: url(http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/info-bg/3.jpg) no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.content .con-bg4{
    background: url(http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/info-bg/4.jpg) repeat-y;
    background-size: 100%;
    overflow: hidden;
}
.content .user-name{
    min-width: 3.5rem;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #fff;
    font-size: 0.42rem;
    padding-left:0.3rem;
    position: relative;
    margin-left:0.6rem;
    margin-top:0.5rem;
    text-shadow: 0 0 0.2rem  #9ca083;
}
.content .user-name::before{
    content: '';
    display: block;
    width: 3.5rem;
    height: 0.8rem;
    background: url('http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/name-bg.png') no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
}

.c-t,.c-t-1{
    font-size: 0.24rem;
    position: relative; 
    color: #ffd063;
    -webkit-mask-image: -webkit-gradient(linear, 1 0, 0 bottom, from(#fffbf3), to(rgba(208, 169, 98, 0.15)));
  
}
.c-t::before{
    content: '';
    display: inline-block;
    width: 0.1rem;
    height: 0.1rem;
    background: url('http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/dian.png') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.15rem;
    left: -0.2rem;
   
}
.c-t::after,.c-t-1::after {  
    content: attr(data-text);
    color: #ffdb8a;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
    text-shadow: 0.02rem 0.02rem 0.01rem #363636;
    -webkit-mask-image: -webkit-gradient(linear, 1 0, 0 bottom, from(#fffbf3), to(rgba(208, 169, 98, 0.15)));   
}
.c-c{
    color: #3fe4e3;
    font-size: 0.32rem;
    font-family: "HelveticaNeueLT Pro 45 Lt"
}
/* 玩家信息 */
.content  .paly-info{
    margin-left:0.8rem;
    margin-top: 0.6rem;
 
}
.paly-info li{margin-bottom: 0.2rem}
.paly-info li .title{margin-bottom: 0.05rem}
.paly-info .ico{}
.paly-info .ico img{width:1.6rem }

.paly-info .list-box {display: flex; text-align: center;   }
.paly-info .item {margin-left: 0.5rem}
.paly-info .item:first-child {margin-left:0}
.paly-info .item p:nth-child(2){margin-top:-0.1rem}

.paly-info .item .ico img{width: 1.5rem}


/* 常用英雄 */
.common-hero{ padding-top:1rem}
.common-hero .title{
    font-size: 0.46rem; font-weight: bold; text-align: center;
    background: url('http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/title-line.png') no-repeat bottom;
    background-size: 100%;
    padding-bottom: 0.4rem;
}
.common-hero .list{     }
.common-hero .list li{
    margin: 0.2rem 0.6rem
}
.common-hero .list li {display: flex;
    border-bottom:  1px solid rgba(139, 113, 63, 0.35); 
    padding-bottom: 0.05rem;
    padding-top: 0.05rem;
}
.common-hero .list li:last-child{border:none}
.common-hero .list li .hero-img img{width:2rem;    height: 2.6rem; }
.common-hero .list li .use-info{margin-left: 0.4rem}
.common-hero .list li .use-info .name{font-size: 0.36rem;
border-bottom:  1px solid rgba(204, 204, 204, 0.09);
margin-bottom: 0.2rem;
}
.common-hero .list li .use-info .txt{margin-bottom: 0.16rem}
.common-hero .list li .use-info .txt span{ display: inline-block;font-size: 0.24rem}
.common-hero .list li .use-info .txt span:nth-child(2){ margin-left: 0.2rem; font-size: 0.3rem}
.common-hero .list li .use-info .txt .ico-s{position: relative;
padding-left: 0.4rem;
margin-left: 0.5rem !important;
}
.common-hero .list li .use-info .txt .ico-s::after{
    top: 0.04rem;
    left:0;
    position: absolute;
    content: '';
    display: block;
    width: 1.7rem;
    height: 0.46rem;
    background: url('http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/battle-honor-bg.png') no-repeat; background-size: 100%
}
.common-hero .list li .use-info .txt .ico-s::before{
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    top: -0.1rem;
    left: -0.4rem;
    position: absolute;
}
.common-hero .list li .use-info .txt .ico-s span{
    width: 0.8rem;
    height: 0.8rem;
    top: -0.1rem;
    left: -0.4rem;
    position: absolute;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}


/* 图表 */

.chart-box{ padding-top: 1rem; width: 100%;    margin-top: -1rem;}

.chart-box .title{
    background: url('http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/title-line.png') no-repeat bottom;
    background-size: 100%;
    width: 100%;
    height: 0.5rem
}
.chart-box .chart{height: 9.5rem}
.detail_box{margin-top: 0.3rem}
.detail_canvas{width:4.29rem;height:4.1rem;position:relative; margin: auto}
.detail_bg{width:3.5rem;height:3.5rem;margin:0 auto 0;}
.detail_txt{position:absolute;width:2.2rem;font-size:0.16rem;line-height:0.24rem;text-align:center;}
.detail_txt:nth-of-type(1){left:50%;top:0rem;margin-left:-1.1rem;}
.detail_txt:nth-of-type(2){left:-1.45rem;top:1.3rem;text-align:right;}
.detail_txt:nth-of-type(3){left:0.1rem;top:3rem;}
.detail_txt:nth-of-type(4){left:2rem;top:3rem;}
.detail_txt:nth-of-type(5){left:3.6rem;top:1.3rem;text-align:left;width:1.7rem;}





.chart-box .chart-data{
    width: 6rem; 
    margin: auto;
    display: flex;
}
.chart-box .chart-data div{
    flex: 1;
  
}
.chart-box .chart-data .fl{
    text-align: right;
    padding-right: 0.3rem
}
.chart-box .chart-data .fr{
    padding-left: 0.3rem;
    background:url('http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/line.png') no-repeat left;
    background-size: auto 100%;
}


/* 点赞登陆分享  */

.user-box{

    overflow: hidden;
  
}
.user-box .hidden{display: none}
.user-box .no-user{
 text-align: center;
 overflow: hidden;
 padding-top: 0.2rem;
 padding-bottom: 0.3rem;
 background: url('http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/bg-1.png') repeat-x bottom;
 border-bottom: 1px solid rgba(139, 113, 63, 0.35);
}
.no-user .desc{}
.no-user .desc span{ display: inline-block; font-size: 0.3rem;}
.no-user .desc .c{ color: #fff; font-size: 0.46rem}
.no-user  .mt45{margin-top:0.45rem}
.no-user .tip{color: #c6b9a1; font-size: 0.22rem;margin-top:0.2rem}
.no-user  .w60{width: 75%; margin:0.4rem auto}
/* 当前用户登陆 */
.user-box .curr-user{
    text-align: center;
    padding-top: 0.3rem;
}
.user-box .curr-user .title{font-size: 0.34rem; background: none}
.user-box .curr-user .desc{color:#c6b9a1; font-size: 0.24rem; margin:0.3rem 10% 0.6rem;overflow: hidden}
.user-box .curr-user .btn-group {

    width: 72%;
    margin: auto
}
.user-box .curr-user .zan-tip{color:#c6b9a1; font-size: 0.28rem;margin-top:0.4rem }
.user-box .curr-user .zan-tip span{color:#fff; font-size: 0.36rem;  }

/* 其他用户  */
.other-user {
    
    text-align: center;
    padding-top: 0.6rem;
    background: url('http://overseas-img.qq.com/images/bodproximabeta/act/a20190702AOV_eu/bg-1.png') repeat-x bottom;
    border-bottom: 1px solid rgba(139, 113, 63, 0.35);
}
.other-user .mt40{margin-top:0.4rem}
.other-user .btn-group{width: 80%; margin:0.7rem auto}


/* logo-box */
.logo-box{display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}
.logo-box img:nth-child(1){width: 4rem}



@media screen and (max-width:320px){
    .user-box{
        margin-top: 0.8rem
    }
 
}
@media screen and (min-width:370px){
    
    margin-top: 0.8rem
    }